In [3]:

print('10')

10

In [4]:
#python collections
# list
# tuple
# dict
# set

In [5]:
# list
#ordered data types
#indexing
#multiple and duplicate data
#is mutable datatype

l=list() #empty list
l=["banana" ,"cat","dog","banana" ,1,2,3]
print(type(l))
print(l)

<class 'list'>
['banana', 'cat', 'dog', 'banana', 1, 2, 3]

In [6]:
#to add value
# append() insert() extend()
l.append('CAR')
print(l)

['banana', 'cat', 'dog', 'banana', 1, 2, 3, 'CAR']

In [7]:
a=[1,3,4,4,4,4]
b=["appl","ball","cat"]

In [8]:
d=a.extend(b)
print(d)

None

In [9]:
a=[]
for i in range(1,10):
 a.append(i)
 print(a)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# range(5) for(i=0;i<5;i++)
# range(1,5) for(i=1;i<5;i++)
# range(1,10,2) for(i=1;i<10;i+2)

In [11]:
l=[]
for i in range(5):
    a=input("enter the vallues")
    l.append(a)
print(l)

['', '', '', '', '1']

In [12]:
# delete

# del , remove() , pop()

In [13]:
a=["apple" , 'vball' ,'cat' ,'dog']
del a[1]
print(a)

['apple', 'cat', 'dog']

In [14]:
a=["apple" , 'vball' ,'cat' ,'dog']
a.remove("apple")
print(a)

['vball', 'cat', 'dog']

challege how to remove the duolicated value in the list

In [15]:
a=["apple" , 'vball' ,'cat' ,'dog','cat']

a.remove('cat')
print(a)

['apple', 'vball', 'dog', 'cat']

In [16]:
while 'cat' in a:
    a.remove('cat')
print(a)

['apple', 'vball', 'dog']

In [17]:
# dict

#key value pair

a=dict()

dict inside the list

In [18]:
# how to make list inside the list,dict insie dict

In [19]:
# delete
a={'name':'ram', 'age':21 ,'add':'ktm','phone':984946083}
del a['name']
print(a)
# not slicing in the dict

{'age': 21, 'add': 'ktm', 'phone': 984946083}

In [21]:
a={'name':'ram', 'age':21 ,'add':'ktm','phone':984946083}
a.pop('name')
print(a)

{'age': 21, 'add': 'ktm', 'phone': 984946083}

In [22]:
# function

# def <function_name>:
#   operations

# function_name()

In [24]:
def hello():
    print("hello world")

In [27]:
hello()

hello world

In [28]:
# types of function
#  1) bulit-in functions
# 2) user defined function

In [31]:
def hello1(x): #x is parameter
    print(x)
hello1("hello world") #arguments

hello world

In [38]:
def area1(l,b ,h):
    a=l*b
    v=a*h
    return a , v

l=int(input('enter l='))
b=int(input("enter b="))
h=int(input("enter h="))
area1(l,b,h)

(200, 6000)

In [41]:
# lambda function
# lamda <arguments>:<expressio>

x=lambda l: l**2
x(5)

25

In [42]:
l=int(input('enter l='))
b=int(input("enter b="))
x =lambda l,b:l*b
x(l,b)

200